@mixin device-min($minWidth) {
  @media screen and (min-width: $minWidth) {
    @content;
  }
}

@mixin device-max($maxWidth) {
  @media screen and (max-width: $maxWidth) {
    @content;
  }
}

@mixin flex($alignItems: null, $justifyContent: null, $flexDirection: null) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $flexDirection;
}