

:root {
  --primary: #222831;
  --secondary: #00ADB5;
  --dark: #393E46;
  --light: #EEEEEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

#app {
  height: 100vh;
  background-color: var(--light);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.mg-top-4 {
  margin-top: 4rem;
}

.flex-centered-element {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}