:root {
  --primary: #222831;
  --secondary: #00ADB5;
  --secondary-rgb: 0, 173, 181;
  --dark: #393E46;
  --dark-rgb: 57, 62, 70;
  --light: #EEEEEE;
  --white: #ffffff;
  --primaryFont: 'Poppins', sans-serif;
  --secondaryFont: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--dark);
  font-family: var(--primaryFont);
  font-size: 1.6rem;
}

#app {
  height: 100vh;
  background-color: var(--light);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.mg-bottom-2 {
  margin-bottom: 2rem;
}

.mg-left-2 {
  margin-left: 2rem;
}

.pd-lr-2 {
  padding: 0 2rem;
}

.flex-centered-element {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}