

:root {
  --primary: #222831;
  --secondary: #00ADB5;
  --dark: #393E46;
  --light: #EEEEEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

#app {
  height: 100vh;
  background-color: var(--light);
}